.homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.icon {
  width: 10rem;
  height: 10rem;
  background-color: #d0ebff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin-bottom: 3.2rem;
}
.icon svg {
  width: 100%;
  height: 100%;
  stroke: #fff;
}

.homePage h1 {
  font-size: 5.7rem;
  max-width: 70rem;
  text-align: center;
  margin-bottom: 3.2rem;
  line-height: 0.9;
}
.homePage p {
  font-size: 1.7rem;
  color: #5f6c7b;
  font-weight: 400;
  max-width: 60rem;
  text-align: center;
  line-height: 1.7;
  margin-bottom: 2rem;
}
