.backLink {
  display: flex;
  color: #868e96;
  text-decoration: none;
  font-size: 1.5rem;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
  margin-bottom: 3.2rem;
  transition: all 0.4s ease;
  justify-content: start;
}
.backLink:hover {
  color: #1c7ed6;
}
.backLink svg {
  width: 18px;
  height: 18px;
  stroke-width: 2px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3.2rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #343a40;
}
.description {
  font-size: 1.5rem;
  color: #868e96;
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}
.boxInfo {
  background-color: #f1f3f5;
  padding: 2rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% / 4);
}
.icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon svg {
  stroke: #1971c2;
  width: 35px;
  height: 35px;
}
.categoryTitle {
  font-size: 1.3rem;
  color: #868e96;
  margin-bottom: 0.3rem;
  display: block;
}
.categoryName,
.diffiuclty {
  font-size: 1.5rem;
  display: block;
  color: #343a40;
  font-weight: 500;
  text-transform: capitalize;
}
.diffiuclty {
  background-color: #1971c2;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  text-transform: capitalize;
  font-weight: 500;
}

.easy {
  color: #2b8a3e;
  background-color: #d3f9d8;
}
.medium {
  background-color: #fff9db;
  color: #d9480f;
}
.hard {
  background-color: #fff5f5;
  color: #c92a2a;
}
