.quizzes {
  margin: 5rem auto 3.2rem auto;
  text-align: center;
  max-width: 120rem;
}
.quizzes h1 {
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
}
.box_search {
  padding: 2rem 4rem;
  width: 100%;
  background-color: #fffe;
  border: 1px solid #eee;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3.2rem;
}
.box_search input {
  padding: 0.9rem 1.2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  width: 100%;
  display: inline-block;
  font-family: inherit;
  font-size: 1.7rem;
  outline: none;
  transition: all 0.4s ease;
  justify-self: center;
  margin-bottom: 2rem;
}
.box_search input:focus {
  border: 1px solid #1971c2;
  border-radius: 2rem;
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}
.filter label {
  display: block;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  color: #495057;
  padding-bottom: 1rem;
}
.filter select {
  padding: 0.9rem 1.2rem;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  display: block;
  justify-self: center;
  border-radius: 1rem;
  transition: all 0.4s ease;
  text-transform: capitalize;
}
.filter option {
  text-transform: capitalize;
}
.filter select:focus {
  border: 1px solid #1971c2;
  border-radius: 2rem;
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select {
  width: 100%;
  flex: 1;
}
