.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}
.header h2 {
  font-size: 2.2rem;
  font-weight: 500;
  color: #343a40;
}
.timer {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 0.5rem;
  color: #343a40;
}
.timer svg {
  width: 24px;
  height: 24px;
}
.progress {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3.2rem;
}
.progress p {
  font-size: 1.4rem;
  color: #868e96;
}
.progress progress {
  width: 100%;
  height: 2rem;
  appearance: none;
  overflow: hidden;
}
.progress progress::-webkit-progress-bar {
  background: #ccc;
  border-radius: 1rem;
  overflow: hidden;
}
.progress progress::-webkit-progress-value {
  background: #1c7ed6;
  border-radius: 1rem;
  transition: all 0.4s ease;
  overflow: hidden;
}
.progress progress::-moz-progress-bar {
  background: #1c7ed6;
  border-radius: 1rem;
  transition: all 0.4s ease;
  overflow: hidden;
}
.question {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.questionCover {
  background-color: #e9ecef;
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.questionCover h3 {
  font-size: 3.2rem;
}
.answers {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  width: 100%;
  margin-bottom: 3.2rem;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
