.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  margin: 2rem 6rem;
  background-color: #fffe;
  border-radius: 2rem;
}
.navLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #343a40;
  list-style: none;
}
.navLink a:active,
.navLink a:link,
.navLink a:visited {
  color: #343a40;
  text-decoration: none;
  font-family: inherit;
  transition: all 0.4s ease;
  font-size: 1.7rem;
}
.navLink a:hover {
  color: #1971c2;
}
.navLink :global(a.active) {
  color: #1971c2;
}
