.quizBtn {
  background-color: #fffe;
  border: 1px solid #adb5bd;
  width: 100%;
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  transition: all 0.4s ease;
}
.quizBtn:hover {
  background-color: #f1f3f5;
  border-radius: 2rem;
}

.previousBtn {
  background-color: #fffe;
  border: 1px solid #adb5bd;
  width: 100%;
  display: block;
  font-size: 1.6rem;
  padding: 1.2rem 1.5rem;
  transition: all 0.4s ease;
}
.previousBtn {
  width: fit-content;
}

.previousBtn:hover {
  background-color: #f1f3f5;
}
.backLink {
  display: flex;
  color: #868e96;
  text-decoration: none;
  font-size: 1.5rem;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
  margin-bottom: 3.2rem;
  transition: all 0.4s ease;
  justify-content: start;
}
.backLink:hover {
  color: #1c7ed6;
}
.backLink svg {
  width: 18px;
  height: 18px;
  stroke-width: 2px;
}
