.btn {
  display: inline-block;
  padding: 1.2rem 1.7rem;
  font-family: inherit;
  background-color: transparent;
  font-size: 1.7rem;
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
}
.primary {
  background-color: #228be6;
  color: #e7f5ff;
  transition: all 0.4s ease;
}
.primary:hover {
  background-color: #1c7ed6;
  transform: translateY(-4px);
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
}
