.result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.result h2 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  margin-top: 3.2rem;
  color: #343a40;
}
.des {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;

  color: #868e96;
}
.progress {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 3.2rem;
}
.points {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.highscore {
  font-size: 1.5rem;
  color: #868e96;
  margin-bottom: 3.2rem;
}
