.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.icon {
  width: 30px;
  height: 30px;
  background-color: #d0ebff;
  border-radius: 1rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon svg {
  width: 40px;
  height: 40px;
}
.logo h1 {
  font-size: 3rem;
  text-transform: capitalize;
}
