.quizeItem {
  background-color: #fffe;
  border-radius: 1rem;
  padding: 1.2rem 1.6rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
.quizeItem:hover {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}
.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.category {
  font-size: 1.3rem;
  color: #1c7ed6;
  display: block;
}
.difficulty {
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
  text-transform: capitalize;
  font-weight: 500;
}
.easy {
  color: #2b8a3e;
  background-color: #d3f9d8;
}
.medium {
  background-color: #fff9db;
  color: #d9480f;
}
.hard {
  background-color: #fff5f5;
  color: #c92a2a;
}
.quizeItem h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1.5rem;
  color: #343a40;
}
.quizeItem p {
  color: #5f6c7b;
  color: #868e96;
  text-transform: capitalize;
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 2rem;
}
