@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap");
:root {
  --background-color: #f1f3f5;
  --color-text: #094067;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 1.6rem;
  background-color: var(--background-color);
  height: 100vh;
  box-sizing: border-box;
}

button.correct {
  border: 1px solid #2f9e44;
  color: #2f9e44;
}
button.incorrect {
  border: 1px solid #e03131;
  color: #e03131;
}
.btn {
  display: inline-block;
  padding: 1.2rem 1.7rem;
  font-family: inherit;
  background-color: transparent;
  font-size: 1.7rem;
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
}
.answerBtn {
  background-color: #fffe;
  border: 1px solid #adb5bd;
  width: 100%;
  display: block;
  font-size: 1.6rem;
  padding: 1.2rem 1.5rem;
  transition: all 0.4s ease;
}
.answerBtn:hover {
  background-color: #f1f3f5;
}
.answerBtn:disabled {
  cursor: not-allowed;
}
button.answer {
  background-color: #e9ecef;
}
