@import "tailwindcss";
@font-face {
  font-family: Rubik;
  src: url("../src/assets/Rubik-Regular.ttf");
}
@layer components {
  .active {
    @apply text-blue-500 font-medium text-[1.2rem] leading-0 transition-all duration-300;
  }
  .input {
    @apply block py-2 px-4 text-[1rem] border border-gray-300 rounded-xl transition-all duration-300 focus:w-md 
        placeholder:text-stone-400 w-60 focus:outline-none focus:ring focus:ring-sky-500 focus:border-sky-200 bg-white text-sm sm:py-3 sm:px-4 mb-4;
  }
}
@theme {
  --font-rubik: Rubik, "sans-serif";
}
.background {
  background-size: 100% 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  background-image: radial-gradient(
    125% 125% at 50% 10%,
    #ffffff 40%,
    #74c0fc 100%
  );
  background-size: 100% 100%;
  height: 100%;
  min-height: 100dvh;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-size: 1.6rem;
  height: 100dvh;
  box-sizing: border-box;
}
.background {
  background-size: 100% 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  background-image: radial-gradient(
    125% 125% at 50% 10%,
    #ffffff 40%,
    #74c0fc 100%
  );
  background-size: 100% 100%;
  height: 100%;
  min-height: 100dvh;
}
button.correct {
  border: 1px solid #2f9e44;
  color: #2f9e44;
}
button.incorrect {
  border: 1px solid #e03131;
  color: #e03131;
}
.btn {
  display: inline-block;
  padding: 1.2rem 1.7rem;
  font-family: inherit;
  background-color: transparent;
  font-size: 1.7rem;
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
}
.answerBtn {
  background-color: #fffe;
  border: 1px solid #adb5bd;
  width: 100%;
  display: block;
  font-size: 1.6rem;
  padding: 1.2rem 1.5rem;
  transition: all 0.4s ease;
}
.answerBtn:hover {
  background-color: #f1f3f5;
}
.answerBtn:disabled {
  cursor: not-allowed;
}
button.answer {
  background-color: #e9ecef;
} */
